.form-control {
	font-size: $default-font-size;
	height: 3.9rem;
	border-radius: 4px;
	border-color: $input-grey;
}

.form-control-input-group-append {
	border-left: none;
}

.form-control-input-group-prepend {
	border-right: none;
}

.input-group-text {
	letter-spacing: .1rem;
}

.input-group-text-append {
	font-size: $default-font-size;
	border-right: none;
	background: white;
	border-radius: 4px;
	border-color: $input-grey;
}

.input-group-text-prepend {
	font-size: $default-font-size;
	border-left: none;
	background: white;
	border-radius: 4px;
	border-color: $input-grey;
}

.form-group {
	margin-bottom: .5rem;
}

.alert {
	font-size: 1rem;
	margin-top: .5rem;
	padding: .25rem;
	text-align: center;
}

.alert-warning {
	font-size: 1.2rem;
	padding: .5rem;
}

.form-label {
	letter-spacing: .1rem;
	color: $white;
}

.btn {
	font-size: $default-font-size;
	border-radius: 10rem;
	background: rgba($green, .9);
	color: $white;
	padding: 1rem 2rem 1rem 2rem;
	transition: transform .2s ease-in-out;
}

.btn:hover {
	transform: scale(1.1);
	color: $white;
	background: lighten(rgba($green, .9), 5%);
}
